[submodule "noderedis"]
	path = redis
	url = git@github.com:Starefossen/node_redis.git
	branch = enable-docker-testing
[submodule "nodeetcd"]
	path = etcd
	url = git@github.com:stianeikeland/node-etcd.git
[submodule "memcached"]
	path = memcached
	url = git@github.com:Starefossen/memcached.git
  branch = enable-docker-testing
